<!DOCTYPE html>
<html>
<body>

<h2>Environment Observer. bservation of temparature , humadity, presure and light intensity</h2>

<table style="width:100%">
  <tr>
    <th>Temparature mean</th>
    <th>Temparature standard deviation</th> 
    <th>Humidity mean</th>
    <th>Humidity standard deviation</th> 
    <th>Presure mean</th>
    <th>Presure standard deviation</th> 
    <th>light intensity mean</th>
    <th>light intensity standard deviation</th> 

  </tr>
  <tr>
    table[0]
  </tr>
  <tr>
    table[1]
  </tr>
  <tr>
    table[2]
  </tr>
  <tr>
    table[3]
  </tr>
  <tr>
    table[4]
  </tr>
</table>

</body>
</html>
